
<mat-toolbar class="toolbar mat-elevation-z1">
    
    <button mat-mini-fab color="warn" routerLink="/" routerLinkActive="active" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
    <button mat-button color="accent" routerLink="/articulos" routerLinkActive="active"> Artículos </button>
    <span class="fill-remaining-space"></span>
    <a href="https://github.com/Daher-Maluf/entrevista-banhaia"><i class='bx bxl-github bx-md'></i></a>
</mat-toolbar> 
